.navbar-brand span{
    color: #e52165;
}
 .navbar-brand {
    font-family: "Oleo Script Swash Caps";
 }
.collapse a{
    font-size: 25px;
    font-weight: bolder;
    margin-left: 90px;
}
/* Styling for the container */
.container {
    padding-top: 90px;
}
/* Styling for the grid */
#firstcolumn{
    background-image: url(/assets/culture.jpeg);
      color:white;
      font-size: 26px;
      font-weight: 350px;
      background-position: center;
      background-size: cover;

}
#secondcolumn{
    background-color:#e52165;
    color: white;
}
#submitbutton{
    background-color: #0d1137;
    border: none;
    border-radius: 40px;
}
.row{
    /* height: 100vh; */
    margin:;
}
/* Footer */
.page-footer{
    background-color: #0d1137;
    color: #e52165;
}