body{
    background-color: #0d1137;
}
.navbar { background-color: #e52165;}
.navbar-brand span{
    color: white;
}
 .navbar-brand {
    font-family: "Oleo Script Swash Caps";
 }
.collapse a{
    font-size: 25px;
    font-weight: bolder;
    margin-left: 90px;
}
/* Styling for the container */
.container {
    padding-top: 90px;
    overflow: hidden;
}
/* Styling for the grid */
#firstcolumn{
    background-image: url(/assets/culture-removebg-preview.png);
    box-shadow: #e52165 2px;
border: solid #e52165 1px;
      color:white;
      font-size: 26px;
      font-weight: 350px;
      background-position: center;
      background-size: cover;

}
#secondcolumn{
    background-color:#e52165;
    color: white;
}
#btn{
    background-color: #0d1137;
    border: none;
    border-radius: 40px;
    margin-bottom: 10px;
}

/* Footer */
.page-footer{
    background-color: #0d1137;
    color: #e52165;
}